<div class="col">
    <label class="form">Departure Time</label>
    <input type="text" name="departure_time" value="{{this.departure_time}}" class="form" id="inputTime" />
  </div>

  <div class="col">
    <label name="Approaching_time" class="form">Approaching Time</label>
    <input name="Approaching_time" value="{{this.Approaching_time}}"  type="" class="form" id="" />
  </div>
  <div class="col">
    <label name="division" class="form">Division </label>
    <input name="division" value="{{this.division}}"  placeholder="central/western" type="" class="form" id="" />
  </div>


   
 
  <div class="col-12">
    <label class="form-label">Source Name</label>
    <input
      name="Source_Name"
      type="text"
      class="form-control"
      id=""
      placeholder="Station name"
      value="{{this.Source_Name}}" 
    />
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label"> Destination </label>
    <input
      name="Dest_Name"
      type="text"
      class="form-control"
      id=""
      value="{{this.Dest_Name}}" 
      placeholder="Destination Station"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ticket Price</label>
    <input
      name="Ticket_price"
      type="text"
      class="form-control"
      id="inputCity"
      value="{{this.Ticket_price}}" 
    />
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Speed</label>
    <input name="F_or_S" type="text" value="{{this.F_or_S}}"  class="form-control" id="F or S" />
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Train No</label>
    <input name="Train_No" value="{{this.Train_No}}"  type="text" class="form-control" id="inputZip" />
  </div>
  
  
  <div class="col-12">
    <button type="submit"  class="btn btn-primary">Add</button>
  </div>